*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* body {
    width: 1200px;
align-self: center;
text-align: center;
margin-left: 200px;
} */
header {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
#apu {
    height: 200px;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
}
.header {
    margin-right: 20px;
}
h1 {
    line-height: 100px;
    padding-top: 30px;
    margin-left: 30px;
    display: inline;
    font-size: 80px;
    width: 700px;
    text-transform: uppercase;
}
.horarios {
    margin-left: 30px;
}
.row-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
h3 {
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 10px;
text-align: center;
height: 45px;
width: 40%;
border-radius: 50%;
background: #bcd6ff; 
}
#bebidas {
    height: 150px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: 300px;
}
nav{
    width: 200px;
    margin-left: 40px;
    margin-top: 15px;
}
ul {
    list-style-type: none;
}
li {
    text-align: right;
    height: 60px;
    font-size: 25px;
    line-height: 35px;
}
li a {
    text-decoration: none;
    color: black;
}
li:hover, a:hover {
    color: firebrick;
    background-color: greenyellow;
    text-align: center;
    padding-top: 10px;
} 
main {
    margin-left: 160px;
    width: 700px;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
}
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid #ccc;
}
th{
    background: #444;
    color: #fff;
}
td, th{
    text-align: center;
    padding: 0.5em;
    
}
